:root {
  --hue: 355;
  --color-brand: oklch(0.6986 0.3394 var(--hue));
  --color-brand--light: oklch(from var(--color-brand) 0.6 c h);
  --color-brand--dark: oklch(
    from var(--color-brand) 0.3 clamp(0, c + 0.1, 1) h
  );
  --color-highlight: light-dark(
    var(--color-brand--dark),
    var(--color-brand--light)
  );
  --color-highlight--invert: light-dark(
    var(--color-brand--light),
    var(--color-brand--dark)
  );
  --color-text: CanvasText;
  --ff-serif: Courier, serif;
  --ff-sans-serif: monospace;
  --icon-size: clamp(2rem, 0rem + 8vw, 7rem);
  --spacing-s: clamp(1rem, 0.6rem + 1.6vw, 2rem);
  --spacing-m: clamp(1.5rem, 0.9rem + 2.4vw, 3rem);
  --spacing-l: clamp(2rem, 1.2rem + 3.2vw, 4rem);
}

::selection {
  background: var(--color-brand);
  color: #fff;
}

html {
  color-scheme: dark light;
}

body {
  margin: 0;
  font-family: var(--ff-sans-serif);
  color: var(--color-highlight);
}

h1,
h2,
h3 {
  font-family: var(--ff-serif);
  padding: 0;
  margin-block-end: 0;
}

h1 {
  text-transform: uppercase;
  font-size: clamp(4rem, 3.2rem + 3.2vw, 6rem);
  line-height: 90%;
  margin-block-start: 0;
}

h2 {
  margin-block-start: var(--spacing-l);
}

p {
  color: var(--color-text);
  font-size: clamp(0.7rem, 0.58rem + 0.48vw, 1rem);
  text-transform: uppercase;
  margin: 0;
}

main {
  text-align: center;
  min-height: 100lvh;
  align-content: center;
}

.social {
  display: inline-flex;
  margin-block-start: 1rem;
  gap: var(--spacing-s);

  a {
    color: var(--color-highlight);
    text-decoration: none;

    svg {
      width: var(--icon-size);
      height: var(--icon-size);
      fill: currentColor;
    }

    &:hover {
      --color-highlight: var(--color-highlight--invert);
    }

    &:focus-visible {
      --color-highlight: CanvasText;
      outline: transparent;
    }
  }
}

html:has(.theme-switcher [value="light"]:checked) {
  color-scheme: light;
}

html:has(.theme-switcher [value="dark"]:checked) {
  color-scheme: dark;
}
