:root {
  --hue: 12;
  --color-brand: oklch(0.6986 0.3394 var(--hue));

  --color-brand--light: oklch(
    from var(--color-brand) clamp(0, l + 0.22, 1) calc(c * 0.9) h
  );

  --color-brand--dark: oklch(
    from var(--color-brand) clamp(0, l - 0.22, 1) calc(c * 0.92) h
  );

  --color-highlight: light-dark(
    var(--color-brand--dark),
    var(--color-brand--light)
  );

  --color-brand--complement: hsl(from var(--color-brand) calc(h - 180) s l);
  --color-text: CanvasText;
  --ff-serif: Courier, serif;
  --ff-sans-serif: monospace;
  --icon-size: clamp(2rem, 0rem + 8vw, 7rem);
}

::selection {
  background: var(--color-brand);
  color: #fff;
}

html {
  color-scheme: dark light;
}

body {
  margin: 0;
  font-family: var(--ff-sans-serif);
  color: var(--color-highlight);
}

h1,
h2,
h3 {
  font-family: var(--ff-serif);
  padding: 0;
  margin-block-end: 0;
}

h1 {
  text-transform: uppercase;
  font-size: clamp(4rem, 3.2rem + 3.2vw, 6rem);
  margin-block-start: 1rem;
  line-height: 90%;
}

h2 {
  margin-block-start: 2rem;
}

p {
  color: var(--color-text);
  font-size: clamp(0.7rem, 0.58rem + 0.48vw, 1rem);
  text-transform: uppercase;
  margin: 0;
}

main {
  text-align: center;
  min-height: 100lvh;
  align-content: center;
}

.social {
  display: inline-flex;
  margin-block-start: 1rem;
  gap: 1rem;
  a {
    color: var(--color-highlight);
    text-decoration: none;
    svg {
      width: var(--icon-size);
      height: var(--icon-size);
      fill: currentColor;
    }
    &:hover {
      --color-highlight: var(--color-brand);
    }
    &:focus-visible {
      --color-highlight: var(--color-brand--complement);
      outline: transparent;
    }
  }
}

html:has(.theme-switcher [value="light"]:checked) {
  color-scheme: light;
}

html:has(.theme-switcher [value="dark"]:checked) {
  color-scheme: dark;
}
